@media (width < 992px) {
  .paper {
    padding: 20px !important;
    border-radius: 10px;
  }

  .main_group {
    flex-wrap: wrap;
  }

  .button {
    font-size: 16px;
    height: 40px;
    padding: 0 20px;
    border-radius: 5px;
  }

  .group_statistics {
    gap: 20px;
  }
}
